 
 

body {
     
    font-family: 'Arial', sans-serif;

    color: #0D2F0B;
  
}
header{
    margin:0;
    font-size:2em;
    padding: 0.5rem;
}
 

header, th {
   
    background-color:#232C10;
    color:#FFFFFF; 

    text-align: center;
}
h1{
    font-size: 1.4em;
 
}
h2{
    font-size:2.6em;
}
 
h3{
    font-size: 1.4em;
}
h2.buscador,article>h2{
    font-size:2em;

}

nav{ display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;}

nav a {
    padding: 0.6em;
    color: #E1B35E;
    font-size: 1.2em;
    margin:1em;
}

nav a:hover {
    color: #FCD6E0;
}
nav a:visited{
    color: #FCD6E0;
}

section {
    padding: 2em;
}

section.buscador,main{

    padding:0.6em;
    margin:2em;
}
main{
    font-size:1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F2F2F2;
}
img{
 
    border-style: dotted;
    border-color: #0D2F0B;
    border-width: 0.6em;
    max-width: 100%;  /* La imagen no será más ancha que el viewport */
    max-height: 100%;  /* La imagen no será más alta que el viewport */
    width: auto;       /* Mantiene el ancho original si es menor al viewport */
    height: auto;      /* Mantiene la altura original si es menor al viewport */
    object-fit: contain; /* Asegura que la imagen mantenga sus proporciones */
}
caption{
    font-style: italic;
    font-size: 0.7em;
}
 
 table{
    background-color: #FFFFFF;
    border-style: ridge;
    border-width: 0.2em;
    border-color: #3e3a31;
    text-wrap:wrap;
    border-collapse: collapse; /* Elimina el espacio entre bordes de las celdas */
  
 }
 th{
    padding: 0.2em;
    font-size: 1em;
 }
 td{

    padding: 0.2em;
    text-align: center;
   
 }
 tr{
    padding:1em;
 
 }

 tr:hover {
 
    background-color: #B3C490;
 }
button {
    background-color: #FADADD;
    border-radius:3em;
    border-color: #eccfd2;
    border-width:1em;
    border-style: outset;
}

 section.buscador{
    margin:3em;
 }
 input[type="text"] {
    width: 100%;       
    height: 3em;      
    font-size: 1rem;  
  }

 p.tooltipBusqueda{
    font-style: italic;
 }
 p.noResultsFeedback{
    background-color: #FFB9B9;
    color: #000000;
 }
 caption{
    font-size:1em;
    font-weight: bold;
 }

footer {
    background-color:#232C10;
    color:#FFFFFF; 
    text-align: center;
    padding: 1rem;
}
